* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
section {
  width: 100vw;
  display: flex;
}

.image-container {
  width: 33%;
  margin: 15px;
}

.image-container figure {
  position: relative;
  height: 30vw;
}

.image-container figure img {
  margin-bottom: 10px;
  width: 100%;
}



.image-container figure figcaption {
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
}



/* .wrap {
	flex-wrap: wrap;
} */

/* Flex Container */
.container {
	max-width: 100vw;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}
/* Flex Item */
.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	/* flex: 1; */
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
}

.item figure {
  position: relative;
  height: 30vw;
}

.item figure img {
  margin-bottom: 10px;
  width: 100%;
}

.item figure figcaption {
  position: absolute;
  font-weight: bold;
  bottom: 1rem;
}

.item p {
  text-align: left;
  font-size: 14px;
}


h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

@media (max-width: 680px) {
  .item {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    flex: 1;
  }

  .wrap {
	  flex-wrap: wrap;
  }
}

/* @media(min-width: 420px) and (max-width: 680px) {
  .wrap {
	  flex-wrap: wrap;
  }
} */



/* div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
} */


