@media (max-width: 980px) {
  .container {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .presentation img {
    display: none;
  }

  .presentation-text {
    width: 65vw;
    text-align: center;
  }

  .presentation h1 {
    font-size: 55px;
  }

  .presentation p {
    font-size: 22px;
  }

  .classes .classe-text img {
    display: none;
  }

  .classes .classe-text h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 38px;
  }

  .title {
    font-size: 48px;
  }

  footer .contacts a {
    margin: 3px;
  }

  footer > div {
    height: 25vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  footer .social span {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 980px) {

  .topnav {
    display: initial;
  }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    position: absolute;
    float: right;
    display: block;
    top: 18px;
    right: 40px;
  }
}

@media screen and (max-width: 980px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 40px;
    left: 30px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
}