body {
  font-family: 'Roboto Slab', serif;
}

/* 
=========================================
NAVBAR START
========================================= 
*/

.nav-item {
  position: relative;
  padding: 12px 0 !important;
  display: inline-block;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #333333 !important;
}

.nav-item:hover .nav-link {
  color: #44b564 !important;
}

.nav-item.active .nav-link {
  color: #44b564 !important;
}

.nav-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: rgb(68, 181, 100);
  opacity: 0;
  transition: all 200ms linear 0s;
}

.nav-item:hover::after {
  bottom: 0;
  opacity: 1;
}

.nav-item.active::after {
  opacity: 0;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}

/* 
=========================================
NAVBAR END
========================================= 
*/


/* 
=========================================
HERO START
========================================= 
*/

 .alert-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #ff0000;
  border-radius: 5px;
  margin-bottom: -5px;
 }

 .alert-header img {
   margin-bottom: 4px;
   width: 20px;
   height: 36px;
 }

 #hero .intro-info h2 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 46px;
  letter-spacing: 0.01em;
  color: #333333;
 }

 .header-tag-line {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   align-items: center;
   letter-spacing: 0.01em;
   color: rgba(51, 51, 51, 0.65);
 }

 #hero .intro-info .btn-get-started {
   text-decoration: none;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   display: inline-block;
   padding: 14px 30px;
   border-radius: 12px;
   color: rgb(255, 255, 255);
  background-color: rgb(68, 181, 100);
 }


 /* 
=========================================
QUIZZ START
========================================= 
*/

button {
  border: none;
}

.modal-footer {
 justify-content: space-between; 
}

.correct {
  color: #157524;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.incorrect {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.list-group-item:hover {
  cursor: pointer;
}

.list-group-item.disabled {
  pointer-events: none;
}

/* .modal-content {
  height: 90vh;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 90vw;
  }
} */

 /* 
=========================================
PODCASTS
========================================= 
*/
.questios h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  letter-spacing: 0.01em;
  color: rgba(32, 31, 31, 0.65);
}
.question-on-corona {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  letter-spacing: 0.01em;
  color: rgba(51, 51, 51, 0.65);
}

#read-more {display: none;
}


 /* 
=========================================
GAME
========================================= 
*/
.game-container {
  margin: 200px;
}

.game-container h1 {
  margin-bottom: 20px;
  margin-left: 25vw;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01em;
  color: #333333;
}

#cardboard {
  width: 640px;
  height: 640px;
  margin: auto;
  /* centralizar as imagens */
  display: flex;
  flex-wrap: wrap;
}

.memory-card {
  width: calc(25% - 10px);
  height: 33%;
  margin: 5px;
  transform-style: preserve-3d;
  transition: 2.0s;
  position: relative;
}

.memory-card:active {
  transform: scale(0.97)
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face, .back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  background: #00FA9A;
}

.front-face {
  transform: rotateY(180deg)
}